:root {
    --text-color: #000000;
    --bg-input-color: #4782B2;
    --bg-input-2-color: #70BFFF;
    --bg-1-color: #1A2189;
    --bg-2-color: #FFFFFF;
    --alert-btn-color: #DC060F;
}

/* Container */
.container {
    width: 100%;
    margin: 30px auto;
    background-color: var(--bg-2-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* Heading */
.container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--bg-input-color);
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px var(--text-color);
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}
.table td .btn {
    display: inline-block;
    margin: 0 5px; /* Memberikan jarak horizontal */
    vertical-align: middle; /* Menyesuaikan posisi tombol */
}

.table th {
    background-color: var(--bg-input-color);
    color: var(--bg-2-color);
    font-weight: bold;
    text-transform: uppercase;
}

.table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.table tr:hover {
    background-color: #e6f7ff;
}

/* Button */
.btn {
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: var(--bg-2-color);
    background-color: var(--bg-input-2-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 8px;
    /* Memberi jarak antar tombol */
}

.btn:hover {
    background-color: var(--bg-input-color);
    transform: scale(1.05);
}

.btn-primary {
    background-color: var(--bg-input-color);
}

.btn-primary:hover {
    background-color: var(--bg-1-color);
}

.btn-danger {
    background-color: var(--alert-btn-color);
}

.btn-danger:hover {
    background-color: #a1030b;
}

/* Layout Adjustments */
.container .table-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.container .table-actions .btn {
    margin-right: 10px;
}