/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

/* Navigation */
nav {
    background-color: #0d0d0e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav .logo img {
    width: 40px;
    height: 40px;
}

nav .username {
    font-weight: bold;
    font-size: 16px;
}

nav .menu button {
    background-color: #01070a;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

nav .menu button:hover {
    background-color: #090c0e;
}

/* Container */
.container {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #005f99;
}

.tmbh {
    margin-bottom: 20px;
}

.tmbh .btn {
    background-color: #0f110f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.tmbh .btn:hover {
    background-color: #0c0f0d;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #f1f1f1;
}

table tr:hover {
    background-color: #f8f8f8;
}

/* Buttons in Table */
.btn {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #0b0d0f;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-primary:hover {
    background-color: #10161a;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Delete Button Styling */
.delete-form {
    display: inline-block;
    margin: 0;
}
