/* Resetting defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navigation Bar */
nav {
    background-color: #34495e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.menu button {
    background-color: #2980b9;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #3498db;
}

.menu-dropdown {
    display: none;
}

.menu-dropdown .dropdown {
    list-style-type: none;
}

.burger-icon {
    display: none;
}

@media (max-width: 768px) {
    .burger-icon {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .menu-dropdown {
        display: block;
    }
}

/* Content Styling */
.content-container {
    padding: 20px;
    flex-grow: 1;
}

h1 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.add-program-btn {
    margin-bottom: 20px;
}

.add-program-btn a {
    background-color: #27ae60;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.add-program-btn a:hover {
    background-color: #2ecc71;
}

/* Table Styling */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #34495e;
    color: white;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.btn-primary {
    background-color: #2980b9;
}

.btn-primary:hover {
    background-color: #3498db;
}

.btn-danger {
    background-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b;
}
