/* Warna dan Variabel */
:root {
    --primary-color: #0e110e;
    --secondary-color: #35414b;
    --background-color: #F9F9F9;
    --text-color: #333;
    --hover-color: #101110;
    --nav-bg-color: #25262e;
    --white: #ffffff;
    --table-border-color: #ccc;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    padding: 10px 20px;
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav .profile {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 40px;
    margin-right: 10px;
}

nav .menu {
    display: flex;
    gap: 15px;
}

nav .menu-item button {
    background: none;
    border: none;
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

nav .menu-item button:hover {
    color: var(--primary-color);
}

/* Container */
.container {
    max-width: 1200px;
    margin: 30px auto;
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .tmbh a {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.container .tmbh a:hover {
    background-color: var(--hover-color);
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid var(--table-border-color);
}

.table th {
    background-color: var(--primary-color);
    color: var(--white);
}

.table tr:hover {
    background-color: #f2f2f2;
}

/* Button */
.btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--hover-color);
}

.btn-warning {
    background-color: var(--secondary-color);
    color: var(--white);
}

.btn-warning:hover {
    background-color: #afc2cf;
}

/* Footer */
.footer {
    margin-top: 20px;
    background: var(--nav-bg-color);
    color: var(--white);
    text-align: center;
    padding: 20px 10px;
}

.footer .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .social-icons img {
    height: 30px;
    transition: transform 0.3s;
}

.footer .social-icons img:hover {
    transform: scale(1.1);
}
